doctype html
html
  head
    meta(charset="UTF-8")
    title Gulp Pug Example
    link(rel="stylesheet" href="css/style.css")
  body
    h1 Hello from Pug
    p This is a basic setup with Gulp, Pug, SCSS, and BrowserSync.
